body {
    margin: 0;
    padding: 0;
    background-color: #1b1f3b; /* Bleu nuit */
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    min-height: 100vh;
}

/* Partie Posts */
.posts-container {
    width: 60%;
}

.user-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1); /* Or */
    padding: 10px;
    border-radius: 8px;
}

.user-btn {
    background-color: rgba(255, 255, 255, 0.1); /* Or */
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #1b1f3b;
    font-weight: bold;
}

.search-bar {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: #1b1f3b;
    padding: 10px;
    z-index: 1000;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    color: #1b1f3b;
}

.search-bar::before {
    margin-right: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.1);
}

.post {
    background-color: rgba(255, 255, 255, 0.1); /* Légèrement translucide */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

.post-title h2 {
    color: #40E0D0; /* Bleu turquoise */
}

.no-posts {
    text-align: center;
    font-style: italic;
}

/* Partie Diaporama */
.slideshow {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow-image {
    width: 100%;
    border-radius: 10px;
}